{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>mission</h1>
            <form action="/mission" method="post">
                <label >location:</label><br>
                <input type="text" id="location" name="location" value=""><br>
                <label >medical notes:</label><br>
                <input type="text" id="notes" name="notes" value=""><br><br>
                <input type="submit" value="Submit">
              </form> 
        </div>
    </div>
    <div class="row" id="message">
    </div>
{% endblock %}
